<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin @ Workout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body style = "height: 100vh; position: relative; {{gradient}}">
  
    <!--Alerts popup-->
    {% for message in messages %}
      <div class='alert alert-{{ message.tags }} alert-dismissible fade show' role='alert'>
        <strong>Message:</strong> {{ message }}
        <button type='button' class = 'close' data-dismiss='alert' aria-lable="X">
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
    {% endfor %}
    
    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">
      <style>
        .cascading-right {
          margin-right: -50px;
        }
    
        @media (max-width: 991.98px) {
          .cascading-right {
            margin-right: 0;
          }
        }
      </style>

      <!-- Jumbotron -->
      <div class="container py-4" style="
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      ">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            ">
              <div class="card-body p-5 shadow-5 text-center">
                <h2 class="fw-bold mb-5">Sign in</h2>
                <form method="POST" action="/auth/signin">{% csrf_token %}

                  <!-- Username input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Password" />
                  </div>
                  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Log in
                  </button>

                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <!-- Select any random GIF from static -->
            {% load static %}
            {% comment %} <h1> {% static ppp%}</h1> {% endcomment %}
            <img src= "{%static  display_image %}" class="w-100 rounded-4 shadow-4" alt="" />
          </div>
        </div>
      </div>
      <!-- Jumbotron --> 
    </section>
<!-- Section: Design Block -->

</body>
</html>